@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
header .logo {
    cursor: pointer;
}
header .logo img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    transition: all 0.3s;
}
header .logo img:hover {
    transform: scale(1.2);
}
header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
header li:hover {
    transform: scale(1.1);
}
h2{
    color: #194aeb;
    padding: 20px 0
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #194aeb;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
}

.hero {
    background-image: url(./images/fondo-riego.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero p {
    max-width: 500px;
}
.seccion {
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
}
.seccion h1 {
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
  }
 .seccion p {
    font-size: 18px;
    text-shadow: 1px 1px 2px #000;
  }
  .btn-inicio {
    margin-top: 20px;
    display: block;
    background-color: #194aeb;
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
  }
  .btn-inicio:hover {
    background-color: #36dd52;
  }

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.product-card h3 {
    font-size: 18px;
    margin: 15px 0 10px;
}

.product-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.product-card .price {
    font-size: 16px;
    font-weight: bold;
    color: #e67e22;
}

.product-card button {
    background-color: #194aeb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #36dd52;
}

.productos {
    padding: 0 100px;
}
.container-marcas {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.container-marcas img {
    width: 150px;
    height: auto;
}
.container-marcas img:hover {
    transform: scale(1.1);
}

.marcas {
    padding: 20px 0 30px 0;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    background: #244287;
    padding: 50px 0 0 0;
    color: white;
}
footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-reservado {
    text-align: center;
    padding: 10px 0;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links a{
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all .5s ease;
}
.social-links a:hover {
    transform: scale(1.2);
}
.contacto-item{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
